$colorPrimary: #fcb72b;
$navbarBgColor: #333a44;
$colorSecondary: #495567;
$paragraphColor: #939caa;
$lightGray: #e5ecf4;
$colorWhite: #fff;
$hoverColor: #e5ecf4;

$tablet: 1023px;
$mobile: 767px;

$fontSecondary: "Lexend Deca", sans-serif;
